<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @request.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @request.title %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @request.publisher %>
</p>

<p>
  <strong>Text:</strong>
  <%= @request.text %>
</p>

<p>
  <strong>Name:</strong>
  <%= @request.name %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
