<% provide(:title, "Books") %>
<h1>Books</h1>

<table border="2">
    <tr>
        <th><%= "Title" %></th>
        <th><%= "ISBN" %></th>
        <th><%= "Owner" %></th>
        <th><%= "Delete" %></th>
    </tr>
    <% @books.each do |book| %>
        <tr>
            <%= render book %>
        </tr>
    <% end %>
</table>
