<% provide(:title, "Adding Books") %>
<h1>Adding Books</h1>

<div class="row">
    <div class="span6 offset3">
        <%= form_for(@book) do |f| %>
            <%= render 'shared/book_error_messages' %>

            <%= f.label :isbn %>
            <%= f.text_field :isbn %>

            <%= f.submit "Adding book", class: "btn btn-large btn-primary" %>
        <% end %>
    </div>
</div>
