<% provide(:title, "CheckIn") %>
<h1>CheckIn</h1>

<div class="row">
    <div class="span6 offset3">
        <%= form_for(@loan) do |f| %>
            <%= render 'shared/loan_error_messages' %>

            <%= f.label :isbn %>
            <%= f.text_field :book_id %>

            <%= f.submit "Loaning book", class: "btn btn-large btn-primary" %>
        <% end %>
    </div>
</div>
